<%= form_for [@address, @user_rate], html: {multipart: true}, remote: true do |f| %>
  <div class="text-area-wrapper">
    <%= f.hidden_field :point, value: "" %>
  </div>
  <div class="post-action">
    <section class="rate-address">
      <div id="rate"></div>
    </section>
  </div>
<% end %>
<script>
  var current_point = <%= @user_rate.point.to_i%>
  $("#rate").raty({score: current_point})
  $("#rate").find("input[name=score]").val(current_point);
  $("#user_rate_point").val(current_point)
  $("#rate").click(function(){
    var address_id = <%= @address.id %>
    $.ajax({
      type: "POST",
      url: "/addresses/"+address_id+"/user_rates",
      data: {user_rate: {point: $(".rate-address #rate input").val()}},
      success: function(data){
        if(data.status == 200){
          $(".rate-address #rate input").val(data.point);
          $("#user_rate_point").val(data.point)
        }else{
          $(".rate-address #rate input").val($("#user_rate_point").val());
        }
      }
    })
  })

</script>
